<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>valicode</display-name>
  <servlet>
    <servlet-name>NewCode21</servlet-name>
    <servlet-class>com.pxy.l21.NewCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiCode21</servlet-name>
    <servlet-class>com.pxy.l21.ValiCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewCode31</servlet-name>
    <servlet-class>com.pxy.l31.NewCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiCode31</servlet-name>
    <servlet-class>com.pxy.l31.ValiCode</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NewCode21</servlet-name>
    <url-pattern>/code21</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiCode21</servlet-name>
    <url-pattern>/vc21</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCode31</servlet-name>
    <url-pattern>/code31</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiCode31</servlet-name>
    <url-pattern>/vc31</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>NewCode41</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <init-param>
        	<param-name>kaptcha.border</param-name>
        	<param-value>no</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.textproducer.font.color</param-name>
        	<param-value>red</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.image.width</param-name>
        	<param-value>80</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.image.height</param-name>
        	<param-value>30</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.textproducer.char.string</param-name>
        	<param-value>0123456789</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.textproducer.char.length</param-name>
        	<param-value>4</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.textproducer.char.space</param-name>
        	<param-value>3</param-value>
        </init-param>
        <init-param>
        	<param-name>kaptcha.textproducer.font.size</param-name>
        	<param-value>24</param-value>
        </init-param>
<!--         <init-param>
        	<param-name>kaptcha.obscurificator.impl</param-name>
        	<param-value>com.google.code.kaptcha.impl.FishEyeGimpy</param-value>
        </init-param> -->
        <init-param>
        	<param-name>kaptcha.noise.impl</param-name>
        	<param-value>com.google.code.kaptcha.impl.NoNoise</param-value>
        </init-param>
        
    </servlet>
  <servlet>
    <servlet-name>ValiCode41</servlet-name>
    <servlet-class>com.pxy.l41.ValiCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewCode42</servlet-name>
    <servlet-class>com.pxy.l42.NewCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiCode42</servlet-name>
    <servlet-class>com.pxy.l42.ValiCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SMSCode</servlet-name>
    <servlet-class>com.pxy.l7.SMSCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiCode</servlet-name>
    <servlet-class>com.pxy.l7.ValiCode</servlet-class>
  </servlet>


    <servlet-mapping>
        <servlet-name>NewCode41</servlet-name>
        <url-pattern>/code41</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiCode41</servlet-name>
    <url-pattern>/vc41</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewCode42</servlet-name>
    <url-pattern>/code42</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiCode42</servlet-name>
    <url-pattern>/vc42</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SMSCode</servlet-name>
    <url-pattern>/sms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiCode</servlet-name>
    <url-pattern>/vc7</url-pattern>
  </servlet-mapping>
</web-app>